.holderPane
{
    -fx-background-color: #231f20;
    -fx-border-radius: 20;
}

.mainMenuPane
{
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 20;
    -fx-border-insets: 0;
    -fx-border-width: 5;
    -fx-border-color: white;
}

.gamePane
{
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 4px;
    -fx-border-color: #bf1378;
    -fx-border-radius: 4px;
    -fx-border-width: 5px;
}

.pane
{
    -fx-background-color: #3c3c3c;
}

.tab-pane
{
    -fx-tab-min-width: 60px;
    -fx-tab-min-height: 50px;
    -fx-padding: 2px;
    -fx-background-color: #292828;
    -fx-background-radius: 4px;
    -fx-font-family: "Kotori Rose";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-color: #0072ff;
    -fx-border-radius: 4px;
    -fx-border-width: 5px;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-opacity: 0;
}

.tab
{
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-color: #292828;
}

.tab .tab-label
{
    -fx-alignment: CENTER;
    -fx-text-fill: #0072ff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Kotori Rose";
}

.tab:selected .tab-label
{
    -fx-text-fill: #bf1378;
}

.tab-pane .tab:selected
{
    -fx-alignment: CENTER;
    -fx-background-color: #3c3c3c;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator
{
    -fx-border-color: transparent;
}

.anchorPane
{
    -fx-background-color: #3c3c3c;
    -fx-background-insets: 0px 5px 5px 5px;
    -fx-border-color: white;
    -fx-border-insets: 0px 5px 5px 5px;
}

.vbox
{
    -fx-spacing: 10px;
}

.button
{
    -fx-background-color: #292828;
    -fx-text-fill: #bf1378;
    -fx-border-radius: 2px;
}